{# src/Bemoove/AppBundle/Resources/views/Coach/mytraining.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Dashboard - Coach{% endblock %}

{% block body %}
    <h1>Dashboard</h1>
    <section class="row">
        <div class="wrapper">
            <nav class="sm-2">
                <h2>liens coach</h2>
                <ul>
                    <li><a href="{{ path('bemoove_app_coach_dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ path('bemoove_app_coach_profile') }}">My profile</a></li>
                    <li><a href="{{ path('bemoove_app_coach_mytraining') }}">My trainning</a></li>
                    <li><a href="{{ path('bemoove_app_coach_gallery') }}">My Images</a></li>
                </ul>
            </nav>
            <div class="sm-10">
                <div class="row">
                    <div class="sm-6">
                        <h2>Mes cours</h2>
                        <p>XXX cours à venir</p>
                        <p>XXX cours déjà réalisé</p>
                        <p>Nb de participant total : XXX</p>
                    </div>
                    <div class="sm-6">
                        <h2>Mon chiffre d'affaire</h2>
                        <p>La semaine dernière : XXX €</p>
                        <p>Depuis mon inscription : XXX €</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
{% endblock %}
