{# src/Bemoove/AppBundle/Resources/views/Sporty/directbooking.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Book training{% endblock %}

{% block body %}
    <h1>Book Training</h1>
    <section class="row">
        <div class="wrapper">
            <div class="sm-12">
                {#
                <h2>My profile</h2>
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                {{ form_end(form) }}
                #}
            </div>
        </div>
    </section>
    <section>
{% endblock %}
