{# app/Resources/views/security/register.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Register form{% endblock %}

{% block body %}
    <h1>Full Register Form</h1>
    <section class="row">
        <div class="wrapper">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
