<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" bg-color="#20368b" style="background-color:#20368b;">
    <tr>
        <td>
            Top header
        </td>
    </tr>
</table>
