{% extends "::baseMail.html.twig" %}

{% set titleMail = "Bienvenue" %}

{% block title %}
    {{ parent() }}
    -
    {{ titleMail }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'BemooveAppBundle:Mailing:Welcome/_welcome.css.twig' %}
{% endblock %}

{% block body %}
    <table class="spacer float-center">
        <tbody>
            <tr>
                <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
            </tr>
        </tbody>
    </table>
    <table align="center" class="container header float-center">
        <tbody>
            <tr>
                <td>
                    <table class="row">
                        <tbody>
                            <tr>
                                <th class="small-12 large-12 columns first last">
                                    <table>
                                        <tr>
                                            <th>
                                                <h1 class="text-center">Changement de mot de passe</h1>
                                            </th>
                                            <th class="expander"></th>
                                        </tr>
                                    </table>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table align="center" class="container body-border float-center">
        <tbody>
            <tr>
                <td>
                    <table class="row">
                        <tbody>
                            <tr>
                                <th class="small-12 large-12 columns first last">
                                    <table>
                                        <tr>
                                            <th>
                                                <h4>Vous avez oublié votre mot de passe ? Si c'est vraiment le cas, cliquez sur le bouton pour en définir un nouveau :
                                                </h4>
                                                <center data-parsed="">
                                                    <table class="button button">
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <a href="{{ recover_url }}">Changer mon mot de passe</a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </center>
                                                <p>
                                                    Si vous ne vouliez pas changer votre mot de passe, alors vous pouvez simplement ignorer ce mail; votre mot de passe ne changera pas.
                                                <p>
                                                <center data-parsed="">
                                                    <table align="center" class="menu float-center">
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <th class="menu-item float-center">
                                                                            <a href="https://bemoove.fr/">bemoove.fr</a>
                                                                        </th>
                                                                        <th class="menu-item float-center">
                                                                            <a href="https://www.facebook.com/Bemoove.fr/">Facebook</a>
                                                                        </th>
                                                                        <th class="menu-item float-center">
                                                                            <a href="https://twitter.com/Bemoove">Twitter</a>
                                                                        </th>
                                                                        <th class="menu-item float-center">
                                                                            <a href="https://www.instagram.com/bemoovefr/">Instagram</a>
                                                                        </th>
                                                                        <th class="menu-item float-center">
                                                                            <a href="#">(408)-555-0123</a>
                                                                        </th>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </center>
                                            </th>
                                            <th class="expander"></th>
                                        </tr>
                                    </table>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                    <table class="spacer">
                        <tbody>
                            <tr>
                                <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
